
    @font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: oblique;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
    h1{
        font-family: SEGA LOGO FONT;
        color: rgb(47, 255, 0);

    }